<!DOCTYPE html>
<html>
  <head>
    <title>yolo-octo-sansa</title>
    <script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
		<script src="/socket.io/socket.io.js"></script>
		<script type="text/javascript" src="javascripts/yolooctosansa.js"></script>
		<link rel="stylesheet" type="text/css" href="stylesheets/yolooctosansa.css">
  </head>
  <body>
    <b>We are here</b>
    <h1 id='testArea'>Not working</h1>
    <% if(user) { %>
      <%= JSON.stringify(user) %>
    <% } %>
  </body>
</html>
